body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 6px;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
